run = "python app.py"
modules = ["python-3.11"]
[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python app.py"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 40751376
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 app.py"

[[ports]]
localPort = 5000
externalPort = 80
